# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
/test/demo
/test/real
/php/.deps
/php/.libs
/php/Makefile
/php/*.m4
/php/autom4te.cache
/php/libtool
/php/build
/php/modules
/php/config.h
/php/*.log
/php/*.in
/php/config.status
/php/Makefile.fragments
/php/Makefile.global
/php/Makefile.objects
/php/config.guess
/php/config.nice
/php/config.sub
/php/configure
/php/*.lo
/php/*.la
/php/install-sh
/php/ltmain.sh
/php/mkinstalldirs
/php/missing
/php/run-tests.php
